.good {
  /* outline: 1px solid #5e54e3; */
  -webkit-box-shadow: 4px 4px 8px 0px #5e54e3;
  -moz-box-shadow: 4px 4px 8px 0px #5e54e3;
  box-shadow: 4px 4px 8px 0px #5e54e3;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  flex: 32%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 16px;
  box-sizing: border-box;
  font-family: Roboto;
  transition: box-shadow .3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .good:hover {
    box-shadow: -5px 4px 8px 0px rgb(199, 199, 29);
  }
}

.good_title {
  font-size: 20px;
  color: #f8f2d6;
  /* color: white; */
  margin: 0 0 12px;
}

.good_row {
  display: flex;
  gap: 20px;
}

.good_label {
  font-weight: 600;
  color: white;
}

.good_text {
  color: white;
  margin: 0;
}